@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<div class="container-fluid p-0">

    <!-- Interests-->

    <section class="resume-section" id="interests">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Ashley
                <span class="text-primary">N.</span>
                Smith
            </h1>
            <h2 class="mb-5">Contact Information</h2>
            <section>
                <div>

                    <section class="subheading mb-5">
                        <ul>
                            <li>Phone: <a href="tel:+18167164300">(816) 716-4300</a></li>
                            <li>Email: <a href="mailto:name@email.com">AsAshley21@gmail.com</a></li>
                            <li>Twitter: <a href="https://twitter.com/AshleyS59830445" target="_blank">AshleySmith</a></li>
                            <!--<li>Facebook: <a href="https://www.facebook.com/friends/suggestions/?profile_id=652533308" target="_blank">AshleyNicholeLea</a></li>-->
                            <li>Linkedin: <a href="https://www.linkedin.com/in/ashley-nichole92/" target="_blank">Ashley-nichole92</a></li>
                            <li>Adress: Blue Springs, MO</li>
                        </ul>
                    </section>

                    <div class="social-icons">
                        <a class="social-icon" href="https://www.linkedin.com/in/ashley-nichole92/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" href="https://github.com/AshleyNichole1" target="_blank"><i class="fab fa-github"></i></a>
                        <a class="social-icon" href="https://twitter.com/AshleyS59830445" target="_blank"><i class="fab fa-twitter"></i></a>
                        <!--<a class="social-icon" href="https://www.facebook.com/friends/suggestions/?profile_id=652533308" target="_blank"><i class="fab fa-facebook-f"></i></a>-->
                    </div>
                </div>
            </section>


        </div>
    </section>
    <hr class="m-0" />

</div>