@{
    ViewBag.Title = "Home Page";
}

<!-- Page Content-->
<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Ashley
                <span class="text-primary">N.</span>
                Smith
            </h1>
            <p class="lead mb-5">I’ve spent the majority of the last 10 years in the service industry. In that time I have perfected skills such as active listening, strategic planning, problem solving, multitasking and much more. I'm looking to start a new career in software development. I love problem solving and the logic behind this field.</p>
            <p class="lead mb-5">Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and kayaking.</p>
            <p class="lead mb-5">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.</p>
        </div>
    </section>
    <hr class="m-0" />

</div>