@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Ashley
                <span class="text-primary">N.</span>
                Smith
            </h1>
            <div class="subheading mb-5">
                · Blue Springs, MO 64014 · (816) 716-4300 ·
                <a href="mailto:AsAshley21@gmail.com">AsAshley21@gmail.com</a>

            </div>

            <div>

                <p class="lead mb-5">
                    I’ve worked in the service industry and other fields such as nursing and insurance. My goal was to always provide exceptional service and address customer/pateint concerns with effective and innovative solutions. I did this through active listening and a drive to make the service provided stand out amongst the rest. Following my passion for technology, I made the decision to pursue a career in IT through Centriq's Training Full Stack Web Developer program. I’m excited to have the opportunity to leverage my customer service skills in a technology-focused setting.
                </p>
                <p class="lead mb-5">
                    Apart from being a developer &Aacute; student, I enjoy spending most of my time outdoors. During summer I try to take advantage of the nice weather, kayaking, riding my bike, pool or lake days. I also enjoy reading and a variety of different shows!
                </p>
                <p class="lead mb-5">
                    Going through the Centriq program I have learend many languages such as JavaScript, C# and SQL in the .NET framework, but mostly I've learned how much I enjoy programming and how much I love the challenge of problem solving. Each project I have worked on has brought challenges but I remain persistant and through the persistance I have been able to learn and grow. I am excited to see where software development will take me.
                </p>
            </div>

            <div class="social-icons">
                <a class="social-icon" href="https://www.linkedin.com/in/ashley-nichole92/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/AshleyNichole1" target="_blank"><i class="fab fa-github"></i></a>
                <a class="social-icon" href="~/Content/img/Resume 2021 SoftwareDev (4).pdf" target="_blank"><i class="far fa-file"></i></a>
              
                <!--<a class="social-icon" href="https://www.facebook.com/friends/suggestions/?profile_id=652533308" target="_blank"><i class="fab fa-facebook-f"></i></a>-->
            </div>
        </div>

    </section>
   

</div>