
@{
    ViewBag.Title = "Links";
}

<h2>@ViewBag.Title</h2>

<!-- Page Content-->
<div class="container-fluid p-0">

    <!-- Skills-->
    <section class="resume-section" id="skills">
        <div>
            <h1>
                Ashley
                <span class="text-primary">N.</span>
                Smith
            </h1>
            <h2 class="mb-5">FELLOW ENGINEERS</h2>


            <section>

                <br />
                <article>

                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <section class="linkSec">
                                <span class="d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="~/Content/img/amandaallen (1).jpg" alt="..." height="400" /></span>

                              
                                <h3>AMANDA ALLEN</h3>
                                <p class="Plink">

                                    <br />
                                    Denise Bourassa, DNP, RNC-ob, CNL, CNE is an Assistant Professor and Director of the MS Nurse Leader and Nurse Educator Tracks at the UConn School of Nursing. Dr. Bourassa is an experienced, nationally certified Clinical Nurse Leader and specializes in healthcare quality improvement.
                                    <br />
                                    &#128279;<a href="http://amandaallen.net//" target="_blank">Visit Site</a>
                                </p>

                            </section>
                        </div>
                    </div>

                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <section class="linkSec">

                                <span class="d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="~/Content/img/jacobroelofsz (1).jpg" alt="..." height="400" /></span>
                             
                                <h3>JACOB ROELOFSZ</h3>
                                <p class="Plink">

                                    <br />
                                    Denise Bourassa, DNP, RNC-ob, CNL, CNE is an Assistant Professor and Director of the MS Nurse Leader and Nurse Educator Tracks at the UConn School of Nursing. Dr. Bourassa is an experienced, nationally certified Clinical Nurse Leader and specializes in healthcare quality improvement.
                                    <br />
                                    &#128279;<a href="http://jacobroelofsz.com/" target="_blank">Visit Site</a>
                                </p>
                            </section>
                        </div>
                    </div>


                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <section class="linkSec">

                                <span class="d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="~/Content/img/-s4a0xj.jpg" alt="..." /></span>
                                
                                <h3>COREY ANDERSON</h3>
                                <p class="Plink">

                                    <br />
                                    Denise Bourassa, DNP, RNC-ob, CNL, CNE is an Assistant Professor and Director of the MS Nurse Leader and Nurse Educator Tracks at the UConn School of Nursing. Dr. Bourassa is an experienced, nationally certified Clinical Nurse Leader and specializes in healthcare quality improvement.
                                    <br />
                                    &#128279;<a href="http://coreymanderson.com/" target="_blank">Visit Site</a>
                                </p>

                            </section>
                        </div>
                    </div>

                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <section class="linkSec">
                                <span class="d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="~/Content/img/profilepic.jpg" alt="..." height="400" /></span>
                                
                                <h3>WILLIAM MCCARTY</h3>
                                <p class="Plink">

                                    <br />
                                    Denise Bourassa, DNP, RNC-ob, CNL, CNE is an Assistant Professor and Director of the MS Nurse Leader and Nurse Educator Tracks at the UConn School of Nursing. Dr. Bourassa is an experienced, nationally certified Clinical Nurse Leader and specializes in healthcare quality improvement.
                                    <br />
                                    &#128279;<a href="http://william-mccarty.com/index.html" target="_blank">Visit Site</a>
                                </p>

                            </section>
                        </div>
                    </div>

                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <section class="linkSec">
                                <span class="d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="~/Content/img/michaelrussell (1).jpg" alt="..." /></span>
                               
                                <h3>MICHAEL RUSSELL</h3>
                                <p class="Plink">

                                    <br />
                                    Denise Bourassa, DNP, RNC-ob, CNL, CNE is an Assistant Professor and Director of the MS Nurse Leader and Nurse Educator Tracks at the UConn School of Nursing. Dr. Bourassa is an experienced, nationally certified Clinical Nurse Leader and specializes in healthcare quality improvement.
                                    <br />
                                    &#128279;<a href="http://michaelrussell.net/" target="_blank">Visit Site</a>
                                </p>
                            </section>
                        </div>
                    </div>

                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <section class="linkSec">
                                <span class="d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="~/Content/img/calebmitchell (1).jpg" alt="..." /></span>
                               
                                <h3>CALEB MITCHELL</h3>
                                <p class="Plink">

                                    <br />
                                    Denise Bourassa, DNP, RNC-ob, CNL, CNE is an Assistant Professor and Director of the MS Nurse Leader and Nurse Educator Tracks at the UConn School of Nursing. Dr. Bourassa is an experienced, nationally certified Clinical Nurse Leader and specializes in healthcare quality improvement.
                                    <br />
                                    &#128279;<a href="http://c-mitchell.com/" target="_blank">Visit Site</a>
                                </p>

                            </section>
                        </div>
                    </div>

                </article>

            </section>
        </div>
    </section>


</div>





<hr class="m-0" />