
@{
    ViewBag.Title = "Resume";
}

<h2>@ViewBag.Title</h2>


<!-- Page Content-->
<div class="container-fluid p-0">

    <!-- Experience-->
    <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Ashley
                <span class="text-primary">N.</span>
                Smith
            </h1>
            <h2 class="mb-5">Experience</h2>

            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Centriq Training</h3>

                    <div class="subheading mb-3">Programming Languages & Tools</div>
                    <ul class="list-inline dev-icons">
                        <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                        <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                        <!--<li class="list-inline-item"><i class="fab fa-js-square"></i></li>-->
                        <li class="list-inline-item"><i class="fab fa-angular"></i></li>
                        <li class="list-inline-item"><i class="fab fa-react"></i></li>
                        <!--<li class="list-inline-item"><i class="fab fa-node-js"></i></li>-->
                        <!--<li class="list-inline-item"><i class="fab fa-sass"></i></li>
                        <li class="list-inline-item"><i class="fab fa-less"></i></li>
                        <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
                        <li class="list-inline-item"><i class="fab fa-gulp"></i></li>
                        <li class="list-inline-item"><i class="fab fa-grunt"></i></li>
                        <li class="list-inline-item"><i class="fab fa-npm"></i></li>-->
                    </ul>
                    <div class="subheading mb-3">Workflow</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Mobile-First, Responsive Design
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Cross Browser Testing & Debugging
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Cross Functional Teams
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Agile Development & Scrum
                        </li>
                    </ul>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">July 2021 - October 2021</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Bartender</h3>
                    <div class="subheading mb-3">Coaches Bar and Grill</div>
                    <ul>
                        <li>Troubleshooting point of sales system</li>
                        <li>Memorized 100+ recipes</li>
                        <li>Extreme attention to detail</li>
                        <li>Strategic planning</li>
                        <li>Responsible for $2,000+ cash drawer</li>
                    </ul>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">February 2020 - Present</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Insurance Agent</h3>
                    <div class="subheading mb-3">SelectQuote</div>
                    <ul>
                        <li>Conflict management</li>
                        <li>Ability to navigate through 10+ agency sites, to adjust customer policies</li>
                        <li>Problem solving</li>
                    </ul>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">December 2019 – October 2020</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Bartender </h3>
                    <div class="subheading mb-3">Gert’s Grille</div>
                    <ul>
                        <li>Welcome guests and ensure personalized service and attention</li>
                        <li>Extreme multitasking</li>
                        <li>Learning and working with new computer systems</li>
                    </ul>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">February 2018 – December 2019</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Bartender/Manager</h3>
                    <div class="subheading mb-3">Pinstripes</div>
                    <ul>
                        <li>Delegating tasks to the team for efficiency and accuracy </li>
                        <li>Providing motivation to team members to keep a positive working attitude during stressful shifts</li>
                        <li>Troubleshooting with current point of sales system and bowling technology</li>
                    </ul>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">September 2016 – February 2018</span></div>
            </div>
            <br />
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Lead Server</h3>
                    <div class="subheading mb-3">Jack Stack</div>
                    <ul>
                        <li>Public speaking when interacting with a group, usually 30+</li>
                        <li>Collaboration between other team leads</li>
                        <li>Educating new staff on current point of sales system </li>
                    </ul>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">February 2013 – September 2016</span></div>
            </div>
            <br />
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">CNA(Certified Nursing Assistant)</h3>
                    <div class="subheading mb-3">St. Luke’s East</div>
                    <ul>
                        <li>Ethical judgement </li>
                        <li>Extreme deadlines</li>
                        <li>Able to navigate through hospitals technology. i.e. Electronic patient documentation, EKG machines etc. </li>
                    </ul>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">January 2011 – February 2013</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
</div>