
@{
    ViewBag.Title = "EmailConfirmation";
}

<h2>ViewBag.Title</h2>

<h4>Message received:</h4>

<p>
    @Model.Message
</p>

<h5>
    I will get back to you as soon as possible! I will reply to: @Model.Email . Thank you!
</h5>